[Desktop Entry]
Encoding=UTF-8
Name=LTN
Comment=LTN P2P Cryptocurrency
Comment[fr]=LTN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LTN, eşten eşe kriptografik sanal para birimi
Exec=latinio-qt %u
Terminal=false
Type=Application
Icon=latinio128
MimeType=x-scheme-handler/latinio;
Categories=Office;Finance;
